<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adaptive.Arp.Api" version="1.0.31" targetFramework="win81" />
  <package id="Adaptive.Arp.Impl" version="1.0.22" targetFramework="win81" />
  <package id="Adaptive.Arp.Impl.Windows" version="1.0.18" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="win81" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="win81" />
  <package id="PCLCrypto" version="0.5.1.14165" targetFramework="win81" />
  <package id="PCLStorage" version="0.9.6" targetFramework="win81" />
  <package id="Validation" version="2.0.4.14103" targetFramework="win81" />
</packages>