<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adaptive.Arp.Api" version="1.0.42.1" targetFramework="wpa81" />
  <package id="PCLCrypto" version="0.5.1.14165" targetFramework="wpa81" />
  <package id="PCLStorage" version="0.9.6" targetFramework="wpa81" />
  <package id="Validation" version="2.0.4.14103" targetFramework="wpa81" />
</packages>